@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
header {
    width: 100%;
    left: 0;
}


.row {
    padding-bottom: 10px;
}
.sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.d-md-block {
    display: block!important;
}

.main-page {
    display: flex;
    position: fixed;
    padding-top: 70px;
}
.wrapper {
    display: flex;
    width: 100%;
}

.bg-dark {
    background-color: #1C2331 !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 30vh;
    left: 0;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#content {
    width: calc(100% - 250px);
    transition: all 0.3s;
    right: 0;
}

#sidebarCollapse {
    background-color: #ffbb33;
    color: #1C2331;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7em;
    border-radius: 10px;
}

#content.active {
    width: 100%;
}


#ticketheader {
    text-align: left;
    border-bottom: solid 1px #ffbb33;
}

#ticketheader ul {
    padding: 10px 10px;
}

#ticketclientinfo{
    padding: 30px;
    border-bottom: solid 1px #1C2331;
    text-align: left;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3E4551;
    opacity: 0.95;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1C2331;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #848b8f;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #b0bec5;
}

#sidebar ul li a:hover {
    color: #0091ea;
    background:#263238;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3F729B;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}